@model IEnumerable<LibraryManagementViewModel.BookReservationModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.reservationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.readerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isbnNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reserveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.returnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.reservationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.readerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isbnNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reserveDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.returnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.reservationId }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.reservationId})
        </td>
    </tr>
}

</table>
