@model IEnumerable<LibraryManagementViewModel.BookModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.isbnNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.authNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staffId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisherId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.releaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.isbnNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.authNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staffId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publisherId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.releaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.isbnNumber}) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.isbnNumber })
        </td>
    </tr>
}

</table>

                      @*Adding styles*@


